
ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:50px; line-height:px;
    background:#ffffff; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    border-bottom: rgb(8, 117, 168) 23px;
}


ul.nav li {
 /* you can change the border color matching to your background color */
    float:left;
    height:50px;
    color:#ffffff;
}
ul.nav li:hover {
    background:##302726;
    color:#ffffff !important;
}
ul.nav a {
    display:block;
    padding:0 28px;
    padding-top: 18px;
    text-decoration:none;
}

ul.nav li.current a {
    background: #60e0f7;
}
.topdiv
{
    width: 100%;
    height: 450px;
    margin-top: 2px;
    background: #60e0f7;
    display: flex;
    flex-direction:row;
}

.column {
  flex: 1 1 0px;
        }
.intro
{
	margin-left: 139px;
	text-align: center;
	font-size: x-large;
	
}
.intro h1 { color:white;}
.intro h3 { color:#aa0000;}
.intro h4 {color:#ff0511;}

.picDiv
{

    position: absolute;
    display: table-cell;
    width: 55%;
    height: 50px;
    float: left;
    
}
.proImage
{
    border-radius: 50%;
    height: 250px;
    margin-top: 50px;
    opacity: 100% !important;
}
.footer
{
    height: 200px;
    width: 100%;
    background-color: #5b5a5d;
    color: #ffffff;
}
/*--Footer of the cv--*/

.secondOfTop
{
    background:  #2c3e50 ;
    height: 200px;
    width: 100%;
}
.quoteHead
{
    color: #117864;
    padding-left: 20px;
    font-family: fantasy;
    font-size: 30px;
}
.quote
{
    color: #ffffff;
    padding-left: 20px;
    font-family: Snell Roundhand, cursive;
    
}
.bodypart
{
    
    height: 200px;
    overflow: auto;
    background: white;
    padding-left: 200px;
     padding-right: 200px;
}
.row
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	

}
.col
{
	 flex: 1 1 20%;
	 text-align: center;
	 background: #eee6e2;
	 margin-left: 4px;
	 

}
.center
{
  width:30%;
  margin: 5px;
  float: left;
}
.right
{
    width: 30%;
     margin: 5px;
}
.left
{
  width: 30%;
  margin: 5px;
}

.icon  {
  content: "\270D";
  font-size: 50px;
  color: #ff5500;
}
em
{
	color: #550000;;
}


/*CARD 1 CSS CODE*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0.9,0.2);
  transition: 0.3s;
  background: white;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  padding-left: 200px;
  padding-right: 200px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 16px 16px ;
  
}
.content
{
   border-left: 5px solid #ff5500;
   padding-left: 12px;
	
}

/*CARD 2 css code*/
.card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0.9,0.9);
  transition: 0.3s;
  background: #eee6e2;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container2 {
  padding: 16px 16px ;
  
}
.content2
{
   
   padding-left: 12px;
	
}

/*CARD 2 COLUMN CODE*/
.coll
{
	 flex: 0 1 24%;
	 text-align: center;
	 background: white;
	 margin-left: 4px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	 
}


.coll3
{
	 flex: 0 1 24%;
	 text-align: center;
	 background: white;
	 margin-top: 5px;
	 box-shadow: 0 28px 32px 0 rgba(0,0,0,0.2);
	 
	 
	 
}
.card2header
{
	width:100%;
	height:30px;
	border-bottom: 1px solid gray;
	position: relative;
	text-align: center;
	
	
}
.card3header
{
	width:100%;
	height:30px;
	border-bottom: 1px solid gray;
	position: relative;
	text-align: center;
	
	
}

.card2header1
{
	width:100%;
	height:100px;
	border-bottom: 1px solid gray;
	position: relative;
	text-align: center;
	background: url('computeruse.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	
	
}
.card2header2
{
	width:100%;
	height:100px;
	border-bottom: 1px solid gray;
	position: relative;
	text-align: center;
	background: url('programming.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	
	
}
.card2header3
{
	width:100%;
	height:100px;
	border-bottom: 1px solid gray;
	position: relative;
	text-align: center;
	background: url('design.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	
	
}
.card2header4
{
	width:100%;
	height:100px;
	border-bottom: 1px solid gray;
	position: relative;
	text-align: center;
	background: url('writing.png') no-repeat;
	background-size: cover;
	background-position: center;
	
	
}

.card2header span
{
	position: absolute;
	bottom: 0;
	
}
.cardbody
{
	text-align: left;
	padding-left: 32px;
}
.row2
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.row3
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 9px;
	

}
.footter
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 9px;


}
.footelement
{
	 flex: 0 1 24%;
	 text-align: center;
	 margin-top: 5px;
	 
	 
	 
}
.foottter img
{
	width: 40px;
	height: 40px;
}
.foottter { text-align: center;}

